[flake8]
max-line-length = 120
ignore = E501, E203, W503
exclude =
    .git
    __pycache__
    setup.py
    build
    docs
    dist
    releases
    tests
    .venv
    .tox
    .mypy_cache
    .pytest_cache
    .vscode
    .github
    __init__.py
    tools
    src/setup.py
